div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') M I L E S T O N E D
            div.nav-collapse
                ul.nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
                ul.nav.pull-right.signin-menu
                    li.dropdown(data-dropdown='dropdown')
                        if (user) 
                            a.login-link.dropdown-toggle(href='#', data-toggle='dropdown')= user.displayName
                        else
                            a.login-link.dropdown-toggle(href='#', data-toggle='dropdown') Login
                        ul.dropdown-menu(id='signin-dropdown')
                            li
                                if (user)
                                    a(href='/logout') Logout
                                else
                                    a(href='/auth/google') Sign in with Google
div.container
    div.hero-unit
        h1 But I would not feel so all alone
        h2 Everybody must get Milestoned
        p Food truck twee ethnic viral DIY fanny pack. Tattooed esse pariatur, nulla sed retro consectetur brooklyn occaecat keffiyeh flexitarian eu. Consequat mumblecore letterpress, in raw denim narwhal keytar. 
        p
            a.btn.btn-primary.btn-large Learn more &raquo;
    div.row
        div.span4
            h2 User Info
            if (user)
                each val, key in user
                    p #{key}: #{val}
            else
                p Ain't no user.
            a.btn(href='#') View details &raquo;
        div.span4
            h2 Message 2
            p Narwhal hoodie ethnic, selvage american apparel nihil williamsburg semiotics. Proident sed aliquip jean shorts, bespoke williamsburg put a bird on it esse Austin. 8-bit yr aute authentic, quinoa cupidatat pitchfork cred street art reprehenderit pinterest messenger bag salvia small batch vegan. Pariatur helvetica gluten-free, leggings chambray messenger bag skateboard. Letterpress in sapiente +1, photo booth mcsweeney's tattooed keffiyeh umami voluptate leggings elit. Street art aute you probably haven't heard of them, pinterest sartorial +1 polaroid. Twee banksy occaecat, terry richardson bespoke viral stumptown chambray proident nihil.
            a.btn(href='#') View details &raquo;
        div.span4
            h2 Message 3
            p Skateboard +1 wes anderson, ut flexitarian eiusmod high life salvia pour-over seitan exercitation pop-up kale chips. Sint wes anderson sartorial nisi, 3 wolf moon aliqua sapiente stumptown commodo do mustache. Mlkshk aliquip viral eiusmod etsy farm-to-table. Forage bespoke beard direct trade magna sint, vegan ennui cillum gluten-free sartorial VHS art party pop-up laboris. Aute accusamus consectetur, sint minim letterpress aesthetic bicycle rights wolf portland proident vegan cupidatat. Pariatur viral mumblecore irure, fanny pack duis flexitarian fixie seitan brooklyn eu chambray cillum dolor tumblr. Semiotics biodiesel proident, sed tempor tattooed shoreditch whatever wolf.
            a.btn(href='#') View details &raquo;
    hr
    div.footer
        p &copy; Carlos Eberhardt 2012
