div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') M I L E S T O N E D
            div.nav-collapse
                ul.nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
div.container
    div.hero-unit
        h1 Everybody must get Milestoned...
        p Milestoned keeps it real. 
        p Food truck twee ethnic viral DIY fanny pack. Tattooed esse pariatur, nulla sed retro consectetur brooklyn occaecat keffiyeh flexitarian eu. Consequat mumblecore letterpress, in raw denim narwhal keytar. 
        p
            a.btn.btn-primary.btn-large Learn more &raquo;
    div.row
        div.span4
            h2 Message 1
            p Do excepteur pariatur brooklyn kogi. Biodiesel wes anderson qui swag, quis aliqua wolf terry richardson vegan ea placeat gentrify nisi brunch. Portland sustainable accusamus nulla sed. Non wolf ex nostrud letterpress. Authentic commodo dolor nisi thundercats williamsburg kale chips, nesciunt synth ullamco cosby sweater. Aliquip freegan pariatur, beard four loko polaroid single-origin coffee locavore forage squid ea vice food truck. Squid pop-up chambray labore, reprehenderit fixie hella banh mi proident ethical bicycle rights id umami narwhal.
            a.btn(href='#') View details &raquo;
        div.span4
            h2 Message 2
            p Narwhal hoodie ethnic, selvage american apparel nihil williamsburg semiotics. Proident sed aliquip jean shorts, bespoke williamsburg put a bird on it esse Austin. 8-bit yr aute authentic, quinoa cupidatat pitchfork cred street art reprehenderit pinterest messenger bag salvia small batch vegan. Pariatur helvetica gluten-free, leggings chambray messenger bag skateboard. Letterpress in sapiente +1, photo booth mcsweeney's tattooed keffiyeh umami voluptate leggings elit. Street art aute you probably haven't heard of them, pinterest sartorial +1 polaroid. Twee banksy occaecat, terry richardson bespoke viral stumptown chambray proident nihil.
            a.btn(href='#') View details &raquo;
        div.span4
            h2 Message 3
            p Skateboard +1 wes anderson, ut flexitarian eiusmod high life salvia pour-over seitan exercitation pop-up kale chips. Sint wes anderson sartorial nisi, 3 wolf moon aliqua sapiente stumptown commodo do mustache. Mlkshk aliquip viral eiusmod etsy farm-to-table. Forage bespoke beard direct trade magna sint, vegan ennui cillum gluten-free sartorial VHS art party pop-up laboris. Aute accusamus consectetur, sint minim letterpress aesthetic bicycle rights wolf portland proident vegan cupidatat. Pariatur viral mumblecore irure, fanny pack duis flexitarian fixie seitan brooklyn eu chambray cillum dolor tumblr. Semiotics biodiesel proident, sed tempor tattooed shoreditch whatever wolf.
            a.btn(href='#') View details &raquo;
    hr
    div.footer
        p &copy; Carlos Eberhardt 2011
